
h1{color:#2b1e13;}
header{
	opacity: 0.99;
	z-index: 999999999999999;
	position: relative;
}
body{background-color: #c2b49c; 
	position: relative; /*for scroll spy*/
}
main{margin-top: 75px;}
.blog-footer {
	padding: 2.5rem 0;
	color: #727272;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}
.logos{max-width: 80vw; }
.small-logo{max-width: 600px;width: 30vw;
	margin-bottom: 15px;}
.navbar{z-index: 9999;}
.section{
	margin-right: 0;
	margin-left: 0;
}
.scroll-offset{
	padding-top: 40px;
	padding-bottom: 20px;
	scroll-margin-top: 75px;
}
#navbar:target::before {
	content: '';
	display: block;
	height: 180px;
	margin-top: -180px;
}
.card{background-color: #f6f6f6;}
.bg-dark{background-color: #4e6791!important;}
.quote{color: white; }
.accordion-body{background-color: #0000001c;}
.mobile-card-img,.card-img{
	background-size: cover;
	background-position: center;
}
.mobile-card-img{min-height: 250px;}
.card-img{min-height: 250px;}


/* Medium devices (tablets, less than 992px)*/
@media (max-width: 767.98px) {
	.scroll-offset {scroll-margin-top: 125px;}
	main{margin-top: 125px}
	.logo-text{margin-bottom: 10px;}
	.navbar .container, .navbar .container-fluid{justify-content: center;}
}

@media (max-width: 576px){

.d-xs-none {display: none !important; }
.col-xs-4 {
	flex: 0 0 auto;
	width: 33.3333333333%;
}
.col-xs-5 {
	flex: 0 0 auto;
	width: 41.6666666667%;
}
.col-xs-6 {
	flex: 0 0 auto;
	width: 50%;
}
.col-xs-7 {
	flex: 0 0 auto;
	width: 58.3333333333%;
}
.col-xs-8 {
	flex: 0 0 auto;
	width: 66.6666666667%;
}}